@import url("https://use.typekit.net/kpi1tct.css");
* {
    padding: 0;
    margin: 0;
    font-family: raleway, sans-serif;
}

p {
    color: #1744A7;
}
.signup {
    background-color: #1744A7;
    padding: 2em;
    text-align: left;
}
.signup p {
    margin-bottom: 30px;
}
.signup input {
    margin-left: 20px;
}
.signup label {
    color: white;
}

.logo {
    width: 100%;
    background: linear-gradient(to right, #1744A7, #327AD3);
    margin: 0;
    padding: 1em 0 1em 0;
}

.icon {
    display: block;
    height: 40px;
    padding-left: 1em;
}

#nav {
    display: none;
    grid-auto-columns: auto;
}

.menu-button {
    font-size: 1.2em;
    color: #ffffff;
    background: linear-gradient(to right, #1744A7, #327AD3);
    border: none;
}

.menu-option {
    display: grid;
}

.list-items {
    display: grid;
    text-align: center;
    background-color: white;
    padding: 2px;
}

a.active {
    color: #74EEFF;
}

.list-items a {
    text-decoration: none;
    color: #1744A7;
    padding: 2px;
}

#hamburger {
    cursor: pointer;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background-color: #ffffff;
    position: absolute;
    top: 5em;
    left: 1em;
    border: 1px solid black;
}

.leftnav {
    display: none;
}


.purpose {
    width: 100%;
    height: 300px;
}

.iconh3 {
    text-align: center;
}

.homeicon {
    width: 200px;
    height: 200px;
    display: block;
}

.homePageContent {
    background: linear-gradient(to right, #1744A7, #327AD3);
}

.homeAbout h1,
.homeAbout p,
.login label {
    color: white;
}

/*Login section*/

.login p {
    margin-bottom: 30px;
}

.login label {
    color: white;
}

.login input {
    margin-left: 20px;
    background-color: white;

}

.about,
.login {
    text-align: center;
    padding: 3em;
    color: white;
}

/*Login section end*/



/*Home Bottom section*/
.pageContentBottom {
    display: grid;
    grid-template-columns: 1fr 200px 200px 200px 1fr;
    grid-gap: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.pageContentBottom h1 {
    grid-column: 2/span 3;
    text-align: center;
}

.audience {
    grid-column: 4/span 1;
}

.game {
    grid-column: 3/span 1;
}

.learn {
    grid-column: 2/span 1;
}

.game img,
.audience img,
.learn img {
    justify-content: flex-start;
}

.pageContentBottom h3 {
    color: #1744A7;
    font-weight: 500;
    margin-top: -40px;
}

.pageContentBottom p {
    text-align: center;
    padding: 1em;
}

.pageContentBottom h3 {
    text-align: center;
}

/* Nav for larger displays*/
@media screen and (min-width: 650px) {

    /*Nav menu*/
    #hamburger {
        display: none;
    }

    #nav {
        display: block;
        text-align: center;
        background: linear-gradient(to right, #1744A7, #327AD3);
        height: 4em;
        width: 100%;
    }

    #nav a {
        text-decoration: none;
        color: #174AA7;
    }

    .menu-button {
        display: block;
        background: inherit;
        color: #ffffff;
        border: none;
        padding: 1em;
        font-size: 1em;
        float: right;
        position: relative;
        top: -0.7em;
    }

    .menu-option {
        display: inline-block;
        position: relative;
        left: 10%;
    }

    .list-items {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 2px 10px 18px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 2.5em;
    }

    .list-items a {
        padding: .75em 1em;
        text-decoration: none;
        display: block;
    }

    .list-items a:hover {
        background-color: #74EEFF;
    }

    .menu-option:hover .list-items {
        display: inline;
    }

    .menu-option:hover .menu-button {
        background-color: darkblue;
    }

    a.active {
        background-color: #74EEFF;
    }

    .icon {
        height: 50px;
        margin-left: 20px;
        float: left;
    }

    .purpose {
        width: 100%;
        height: 300px;
    }

    /*end nav menu*/
}

/* footer */
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    background: linear-gradient(to right, #1744A7, #327AD3);
    padding: 0.05em 0 0.05em 0;
}

.foot {
    color: white;
}

/*formating for page content */
h1,
h4,
h3 {
    color: #1744A7;
}

h2 {
    color: white;
    text-align: center;
    padding: 0.05em;
}

.description {
    color: #1744A7;
}

.gettingStarted {
    text-align: center;
}

.header {
    padding: 3em;
    display: grid;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: auto;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

.LessonsContent {
    display: flex;
    flex-direction: column;
    width: auto;
    clear: both;
    /*margin-left: 200px;*/
    text-align: center;
    padding: 1em;
}

.textBox {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 1.5em 2em;
}

/*formating for page content */

.pageContent {
    display: inline-grid;
    width: auto;
    grid-template-columns: auto;
    padding: 1em;
    clear: both;
}

.gridContainer {
    display: flex;
    flex-direction: column;
}


.aboutContent {
    padding: 3em;
}

.about,
.login {
    text-align: center;
    padding: 3em;
    color: white;
}

/*formating for getting started */

.theList {
    list-style-type: none;
    color: #1744A7;
    text-align: center;
}

.lin {
    padding: 1em;
    text-align: center;
    display: inline-block;
}

.lesson-img {
    display: block;
    max-height: 450px;
    max-width: 450px;
    margin: 1em auto;
    width: 100%;
}

/* flashcards section */
/* h2 id for the 'flashcards' text */
#flashcards {
    color: #1744A7;
    text-align: center;
    font-size: 24pt;
    margin-top: 1.5em;
}

/* id for the actual flashcard design */
#flashcard {
    background-color: white;
    box-shadow: 0 10px  1em darkgray;
    margin: 3em auto 2em auto;
    width: 400px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* id for the text on the flashcard (needs to be fixed!!!) */
#front {
    text-align: center;
    font-size: 16pt;
    font-weight: normal;
}

/* section to handle the formatting/design for the controls for the flashcards */
#flashcontrols {
    text-align: center;
    margin-bottom: 3em;
}

#leftarrow,
#rightarrow,
#cardCount {
    color: darkgray;
    font-size: 24pt;
}

#leftarrow,
#rightarrow {
    padding: 0.5em;
}

#leftarrow:hover,
#rightarrow:hover,
#flashcard:hover {
    cursor: pointer;
}

/* formatting for the section under the actual flashcard, including the boxes */
.underCard {
    background-color: #E6E6E6;
    height: auto;
    width: 100%;
    padding-bottom: 10em;
    position: relative;
    z-index: -10;
}

/* formatting for the div that will contain all of the term divs */
.terms {
    width: 80%;
    position: relative;
    top: 6em;
    margin: 1em auto 2em auto;
}

/* the div responsible for the background and formatting for each term/definition pair */
.eachTerm {
    box-shadow: 1px 0.5em 0.5em darkgray;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 2em;
    background-color: white;
    height: 4em;
    display: flex;
    align-items: center;
}

.term {
    flex: 0 1 7em;
    margin-left: 2em;
    border-right: 2px solid gray;
}

.definition {
    flex: 1;
    margin-left: 2em;
    margin-right: 2em;
}

.term,
.definition {
    font-weight: normal;
    font-size: 10pt;
    color: black
}

.text-commands1 {
    padding: 1em;
}


/*Desktop Display*/
@media screen and (min-width: 768px) {

    .lesson-img {
        max-width: 450px;
        margin: 1em;
        margin-left: 0;
        float: left;
    }
    
    .menu-option {
        left: 20%;
    }

    .content {
        overflow: auto;
    }

    /* leftnav */
    .leftnav {
        display: block;
        height: 100vh;
        width: 10em;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(to right, #1744A7, #327AD3);
        color: white;
        padding: 100px 10px 0 20px;
    }
    
    .leftnav h3 {
        font-weight: normal;
        font-size: 14pt;
        padding: 4em 0.5em 0.5em 0.1em;
        color: white;
        position: relative;
        left: -1.5em;
    }
    
    .leftnav ul li {
        list-style-type: none;
        margin-top: 2em;
    }
    
    .leftnav ul li a {
        font-size: 10pt;
        text-decoration: none;
        margin-bottom: 3em;
        font-weight: 300;
        color: inherit;
    }

    .LessonsContent {
        display: flex;
        flex-direction: column;
        width: auto;
        clear: both;
        margin-left: 250px;
        text-align: center;
        padding: 1em;
    }

    .text-commands1 {
        line-height: 2em;
        font-size: 1.5em;
        width: 100%;
        padding: 1em;
    }

    h3 {
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0 7em 0 7em;
        overflow: hidden;
        background: linear-gradient(to right, #1744A7, #327AD3);
    }

    nav li {
        float: right;
        position: relative;
        top: 20px;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    nav li a {
        display: block;
        color: white;
        text-align: center;
        font-size: 10pt;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav li a:hover {
        text-decoration: underline #74EEFF;
    }

    .active {
        color: #74EEFF;
    }

    nav li a img {
        height: 4em;
        position: relative;
        top: -20px;
    }
    .term, .definition {
        font-size: 12pt;
    }
    .terms {
        width: 60%;
    }
    .term {
        flex: 0 1 10em;
        margin-left: 3em;
        border-right: 2px solid gray;
    }
    .definition {
        flex: 1;
        margin-left: 2em;
        margin-right: 3em;
    }
    #flashcard {
        max-width: 400em;
        max-height: 30em;
    }

}

@media screen and (max-width: 426px) {
    #flashcard {
        width: 15em;
        height: 10em;
        padding: 1em;
    }
    #front {
        font-size: 12pt;
    }
    .terms {
        width: 90%;
    }
    .term {
        flex: 0 1 4em;
    }
}

@media screen and (max-width: 768px) {
    .leftnav {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .leftnav {
        width: 13em;
    }
    .leftnav h3 {
        font-size: 16pt;
        padding-left: 1em;
    }
    .menu-option {
        left: 25%;
    }
}